.card-mui {
  width: 60%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 20%;
  border-radius: 1rem !important;

  img {
    width: 100%;
    height: 350px;
  }
}

.dialog-img {
  width: 100%;

  img {
    width: 100%;
    height: 500px;
  }
}
